In [1]:
#Specific growth rates of algae (divisions per day) at different light intensities and temperatures
'''
Notes.
Marine species at 35ppt salinity, 
Freshwater species at 0 ppt.salinity, 
24 hour light for all species
'''

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv('Algae.csv')
tu1 = ('Temperature', 5, 5, 10, 10, 25, 25, 30, 30)
tu2 = ('Intensity (lux)', 5000, 2500, 5000, 2500, 5000, 2500, 5000, 2500)
df.columns = ['Temperature', 5, 5, 10, 10, 25, 25, 30, 30]
#df.columns = pd.MultiIndex.from_tuples([tu1, tu2])
df

,Temperature,5,5,10,10,25,25,30,30
0,Light Intensity (lux),5000.00,2500.00,5000,2500.00,5000.00,2500.00,5000.00,2500.00
1,Species,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Caloneis schroderi,-0.01,-0.50,-0.1,0.25,0.28,0.30,0.38,0.29
3,Chaetoceros gracilis,-0.01,-0.05,0.16,0.07,0.52,0.39,0.62,0.73
4,Chaetoceros simplex,-0.06,-0.01,0.27,0.55,0.47,0.52,0.54,0.63
5,Chlorella ellipsoidea,0.03,0.02,0.58,0.53,0.88,0.85,0.98,0.94
6,Chlorella stigmatophora,0.01,0.24,0.36,0.24,0.78,0.56,0.66,0.39
7,Chlorella vulgaris (freshwater),-0.25,0.00,0.21,0.17,0.68,0.67,-0.29,-0.20
8,Dunaniella tertiolecta,0.28,0.17,0.43,0.42,0.60,0.64,0.60,0.45
9,Cyclotella sp. NUFP-9,0.16,0.08,0,-0.10,0.00,0.00,-0.18,-0.19
10,Hanzchia marina,-0.36,-0.07,-0.68,-0.21,0.21,0.15,0.11,0.06
11,Isochrysis galbana,-0.57,-0.07,0.42,0.25,0.55,0.55,0.52,0.51
12,Isochrysis aff. galbana,-0.62,-0.67,0..06,-0.14,0.78,0.81,0.76,0.74
13,Nannochlorois oculata,0.01,-0.03,0.01,0.04,0.85,0.92,1.09,1.14
14,Nannochloris salina,0.06,0.07,0.04,0.54,-0.32,-0.34,0.46,0.06
15,Navicula incerta,0.16,0.20,0.37,0.22,0.39,0.37,0.48,0.35
16,Nitzscia sp.,-0.10,0.12,0.2,0.23,0.23,0.29,0.46,0.40
17,Skeletonema costatum,0.29,0.34,0.66,0.61,0.60,0.67,0.48,0.43
18,Tetraselmus suecica,0.04,-0.02,0.42,0.28,0.46,0.44,0.55,0.51
19,Thalassiosira fluviatilis,0.03,0.06,0.1,0.11,-0.03,0.10,0.28,0.23
20,Thalassiosira sp.,-0.29,-0.17,-0.04,-0.12,0.13,0.15,0.40,0.41